.btn-custom {
    background-color: #ff0000 !important;
    border: 2px solid #ff0000 !important;
    color: white !important;
    box-shadow: 0 1px 3px #ff0000;
}

.btn-custom:hover {
    background-color: #f5f5f5 !important;
    border: 2px solid #ff0000 !important;
    color: #ff0000 !important;
    font-weight: 500 !important;
    transition: all 0.25s ease !important;
}

.row .btn-outline-success:hover {
  color: white !important;
}

.filter-group input:focus,
.filter-group select:focus {
  border-color: #198754 !important;
  box-shadow: 0 0 0 0.25rem rgb(25, 135, 84, 0.35) !important;
}

/* === RESPONSIVE === */
/* Laptop (≤1199px) */
@media (max-width: 1199px) {
  .navbar-brand {
    font-size: 1.2rem !important;
  }
}

/* Tablet (≤991px) */
@media (max-width: 991px) {
  .navbar-nav .nav-link {
    font-size: 1rem !important;
    padding-left: 7px !important;
    padding-right: 7px !important;
  }

  .navbar-nav .nav-item {
    margin-right: 9px !important;
  }

  .navbar-brand {
    font-size: 1.1rem !important;
  }

  .navbar-brand img {
    height: 35px !important;
  }

  #logout-button {
    padding: 5px 7px !important;
    font-size: 0.8rem !important;
  }
}

/* Mobile Medium (≤767px) */
@media (max-width: 767px) {
  .navbar-brand {
    font-size: 1rem !important;
  }

  .filter-group {
    margin-bottom: 12px;
  }

  .card-header h6 {
    font-size: 1rem !important;
    text-align: center;
  }

  h1.h3 {
    font-size: 1.25rem !important;
    text-align: center;
  }

  .col-lg-8 .table-responsive {
    overflow-x: auto !important;
    -webkit-overflow-scrolling: touch;
  }

  .col-lg-8 table {
    min-width: 650px !important;
  }

  .col-lg-8 table th,
  .col-lg-8 table td {
    font-size: 0.9rem !important;
    white-space: nowrap !important;
  }

  #logout-button {
    margin-top: 12px !important;
  }
}

/* Mobile Small (≤480px) */
@media (max-width: 480px) {
  .filter-group {
    margin-bottom: 12px;
  }

  .card-header h6 {
    font-size: 1rem !important;
    text-align: center;
  }

  h1.h3 {
    font-size: 1.25rem !important;
    text-align: center;
  }

  .navbar-brand img {
    height: 28px !important;
  }

  .navbar-brand {
    font-size: 0.95rem !important;
  }

  .col-lg-8 .table-responsive {
    overflow-x: auto !important;
    -webkit-overflow-scrolling: touch;
  }

  .col-lg-8 table {
    min-width: 650px !important;
  }

  .col-lg-8 table th,
  .col-lg-8 table td {
    font-size: 0.8rem !important;
    white-space: nowrap !important;
  }
}
