:root {
  --primary: #0d6efd;
  --success: #198754;
}

body {
  background-color: #f0f0f0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  max-width: 700px;
  height: 450px;
  display: flex;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-color: #fff;

  opacity: 0;
  transform: translateY(40px);
  animation: slideUp 0.7s ease-out forwards;
}

/* === Bagian kiri === */
.left-box {
  flex: 1;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 40px;
  padding-bottom: 60px;
  margin-left: -15px;
  position: relative;
  border-top-right-radius: 70px;
  border-bottom-right-radius: 70px;
}

.left-box .teks {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: -50px;
  flex-grow: 1;
  justify-content: center;
  gap: 20px;
}

.left-box .teks h2 {
  font-weight: 700;
  margin: 0;
  font-size: 28px;
  line-height: 1.2;
  color: white;
}

.left-box .teks h3 {
  font-weight: 500;
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
  color: white;
}

.left-box .teks p {
  font-weight: 500;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.85);
  margin: 0;
}

.left-box button:hover,
.left-box .btn:hover {
  background-color: white;
  color: var(--primary);
}

.left-box .hak-cip {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.75);
  margin: 0;
}

/* === Bagian kanan === */
.right-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px 30px;
  background-color: #fefefe;
  box-sizing: border-box;
}

.right-box .top {
  margin-top: 10px;
  text-align: center;
}

.right-box .top h2 {
  font-weight: 650;
  margin-bottom: 10px;
}

.right-box .top h3 {
  font-size: 20px;
  font-weight: 600;
}

.right-box .middle {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-group {
  position: relative;
  margin-bottom: 25px;
}

.form-group .form-control {
  height: 45px;
  border-radius: 12px;
  width: 17rem;
  padding: 0 45px;
  font-size: 15px;
  border: 1.5px solid var(--success);
  transition: border-color 0.3s ease;
  color: var(--success);
}

.form-group .form-control::placeholder {
  color: var(--success);
  transition: 0.25s ease;
}

.form-group .form-control:focus {
  box-shadow: none;
}

.form-group:focus-within .form-control {
  border-color: var(--primary) !important;
  background-color: #fff;
  box-shadow: 0 0 8px rgb(25, 135, 84, 0.25) !important;
  color: var(--success);
}

.form-group .input-group-text {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  color: var(--success);
  font-size: 18px;
  pointer-events: none;
}

.form-group .input-group-text i {
  color: var(--success);
  transition: 0.25s ease;
}

.input-group-password {
  position: relative;
}

#login-alert {
  padding: 6px 10px;
  border-radius: 8px;
  background: rgba(220, 53, 69, 0.12);
  color: #dc3545;
  box-shadow: 0 0 6px rgba(220, 53, 69, 0.35);
}

.input-icon-right {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--success);
  font-size: 18px;
  cursor: pointer;
  transition: 0.25s ease;
}

.form-group:focus-within .form-control::placeholder,
.form-group:focus-within .input-group-text i,
.input-group-password:focus-within .input-icon-right,
.input-group-password:focus-within .input-icon-right,
.input-icon-right.active,
.input-group-password.active-eye .form-control::placeholder,
.input-group-password.active-eye .input-group-text i,
.input-group-password.active-eye .input-icon-right {
  color: var(--primary) !important;
}

.input-group-password.active-eye .form-control {
  border-color: var(--primary) !important;
  box-shadow: 0 0 8px rgb(25, 135, 84, 0.25) !important;
  color: var(--primary) !important;
}

.right-box .bottom {
  margin-bottom: 30px;
  width: 100%;
}

.btn-success {
  background-color: var(--success);
  border-color: var(--success);
  border-radius: 12px;
  font-weight: 700;
  font-size: 18px;
  padding: 12px 0;
  transition: 0.3s ease;
}

.btn-success:hover,
.btn-success:focus {
  background-color: transparent;
  border-color: var(--primary);
  color: var(--primary) !important;
}

/* === RESPONSIVE === */
/* Laptop */
@media (max-width: 1199px) {
  .container {
    max-width: 600px;
    height: 420px;
  }

  .left-box {
    border-top-right-radius: 55px;
    border-bottom-right-radius: 55px;
  }

  .left-box .teks h2 {
    font-size: 26px;
  }

  .left-box .teks h3 {
    font-size: 18px;
  }

  .form-group .form-control {
    width: 16rem;
  }

  .left-box .hak-cip {
    font-size: 11px;
  }
}

/* Tablet (≤991px) */
@media (max-width: 991px) {
  .container {
    flex-direction: column;
    height: auto;
    max-width: 520px;
    padding: 0;
  }

  .left-box {
    width: 100%;
    height: auto;
    margin-left: 0;
    padding: 30px 20px;
    border-radius: 0 0 55px 55px;
  }

  .left-box .teks {
    margin-top: 0;
    gap: 15px;
  }

  .left-box::before,
  .left-box::after {
    border-radius: 0 0 55px 55px;
  }

  .right-box {
    width: 100%;
    gap: 20px;
    padding: 0;
  }

  .right-box .top h2 {
    font-weight: 650;
  }

  .right-box .top h3 {
    font-size: 20px;
    font-weight: 600;
  }

  .form-group .form-control {
    width: 21rem;
  }

  .right-box .bottom {
    width: 21rem;
  }

  .right-box .bottom::after {
    content: "© UPJ 2025 | All rights reserved.";
    display: block;
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #6c757d;
  }

  .left-box .hak-cip {
    display: none;
  }
}

/* Mobile Medium (≤767px) */
@media (max-width: 767px) {
  .container {
    max-width: 400px;
  }

  .left-box {
    padding: 30px 20px;
    border-radius: 0 0 50px 50px;
  }

  .left-box::before,
  .left-box::after {
    border-radius: 0 0 50px 50px;
  }

  .right-box {
    gap: 15px;
  }

  .right-box .top h2 {
    font-weight: 630;
  }

  .right-box .top h3 {
    font-size: 17px;
    font-weight: 600;
  }

  .form-group .form-control {
    width: 18rem;
  }

  .right-box .bottom {
    width: 18rem;
  }
}

/* MObile Small (≤480px) */
@media (max-width: 480px) {
  .container {
    max-width: 350px;
  }

  .left-box {
    padding: 25px 15px;
    border-radius: 0 0 50px 50px;
  }

  .left-box .teks {
    margin-top: 0;
    gap: 10px;
  }

  .left-box .teks h2 {
    font-size: 23px;
  }

  .left-box .teks h3 {
    font-size: 15px;
  }

  .left-box .teks p {
    font-size: 13px;
  }

  .left-box::before,
  .left-box::after {
    border-radius: 0 0 50px 50px;
  }

  .right-box {
    gap: 10px;
  }

  .right-box .top h2 {
    font-weight: 620;
  }

  .right-box .top h3 {
    font-size: 17px;
    font-weight: 580;
  }

  .form-group .form-control {
    width: 17rem;
  }

  .right-box .bottom {
    width: 17rem;
  }
}


/* Animasi slide-up pada container */
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* menghilangkan eye */
/* Hilangkan eye bawaan Chrome, Edge, Opera */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

input[type="password"]::-webkit-textfield-decoration-container {
    display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    opacity: 0;
}
